################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Citolab.Persistence/v15/Server/sqlite3
